<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuration overview</title>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js" crossorigin="anonymous"></script>
</head>
<body>
<form action="" method="post">
    {{ formset.management_form }}
    {% csrf_token %}
    <ul>
    {% for form in formset %}
        <li>
            {{ form }}
            {% for cap, detail in capabilities.items %}
                <a href="{{ form.initial.id }}/{{ cap }}">Edit {{ cap }}</a>
            {% endfor %}
        </li>
    {% endfor %}
</ul>
<input type="submit" name="save" value="Submit" />
</form>
</body>
</html>